exportPattern("^[[:alpha:]]+")

importFrom(cartogram)
importFrom(devtools)
importFrom(dplyr)
importFrom(DT)
importFrom(ggplot2)
importFrom(here)
importFrom(leaflet)
importFrom(maps)
importFrom(maptools)
importFrom(plotly)
importFrom(sp)
importFrom(stringr)
importFrom(tmap)
importFrom(tidyr)
importFrom(shiny)
